## Task:1 (Question:1)
Write a function to find moving average in an array over a window: Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3

In [1]:
def movingavgcal(given_list,n,k):
    for i in range(n-k+1):                         # output range = n-k+1 i.e, (13-3+1) = 11
        temp = 0
        for j in range(i,i+k):
            temp = temp + given_list[j]
        avg = temp/k
        moving_avg_values.append(round(avg,5))
    
given_list = [3,5,7,2,8,10,11,65,72,81,99,100,150]    # mylist = Input list
k = 3                                             # k = given window range
n = len(given_list)                                   # n = length of the given list
moving_avg_values = []                            # moving_avg_values = output list of averages
movingavgcal(given_list,n,k)                          # Function to calculate the moving averages

print("The moving average values for the given list are : ",moving_avg_values)

The moving average values for the given list are :  [5.0, 4.66667, 5.66667, 6.66667, 9.66667, 28.66667, 49.33333, 72.66667, 84.0, 93.33333, 116.33333]

## Task:2 (Question:1)
How-to-count-distance-to-the-previous-zero For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer). create a new column 'Y' Consider a DataFrame df where there is an integer column 'X' import pandas as pd df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [2]:
import pandas as pd

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

#creating cumulative sum for the mask of X where value is equal to zero and then counting the indices from zeroth position
df['Y'] =(df.X.groupby(df.X.eq(0).cumsum().mask(df.X.eq(0))).cumcount() + 1).mask(df.X.eq(0), 0)

df #printing the output

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

## Task-2 (Question:2)
Create a DatetimeIndex that contains each business day of 2015 and use it to index a series of random numbers

In [3]:
import pandas as pd
import numpy as np

business_day_range = pd.date_range(start='2015-01-01',end='2015-12-31',freq='B') # where 'B' represents business day
print("Total no.of business days in 2015 are : ",len(business_day_range))

s= pd.Series(np.random.rand(len(business_day_range)), index=business_day_range)
print('-'*50,"\nThe random series with the length of 2015 business days is :\n ",s)

Total no.of business days in 2015 are :  261
--------------------------------------------------
The random series with the length of 2015 business days is :
  2015-01-01    0.793966
2015-01-02    0.157456
2015-01-05    0.674942
2015-01-06    0.859515
2015-01-07    0.173368
2015-01-08    0.490177
2015-01-09    0.817942
2015-01-12    0.562155
2015-01-13    0.140357
2015-01-14    0.674341
2015-01-15    0.859400
2015-01-16    0.657490
2015-01-19    0.857799
2015-01-20    0.700264
2015-01-21    0.785821
2015-01-22    0.863457
2015-01-23    0.509104
2015-01-26    0.879071
2015-01-27    0.527427
2015-01-28    0.086039
2015-01-29    0.561376
2015-01-30    0.946929
2015-02-02    0.376512
2015-02-03    0.863543
2015-02-04    0.011386
2015-02-05    0.395827
2015-02-06    0.406375
2015-02-09    0.629547
2015-02-10    0.362934
2015-02-11    0.562951
                ...
2015-11-20    0.651949
2015-11-23    0.917877
2015-11-24    0.817135
2015-11-25    0.638080
2015-11-26    0.697737
2015-11-27    0.578921
2015-11-30    0.639413
2015-12-01    0.947127
2015-12-02    0.051371
2015-12-03    0.569084
2015-12-04    0.608742
2015-12-07    0.547684
2015-12-08    0.637553
2015-12-09    0.622522
2015-12-10    0.789566
2015-12-11    0.754203
2015-12-14    0.969584
2015-12-15    0.683536
2015-12-16    0.112935
2015-12-17    0.592031
2015-12-18    0.252226
2015-12-21    0.726485
2015-12-22    0.029487
2015-12-23    0.925245
2015-12-24    0.318577
2015-12-25    0.764586
2015-12-28    0.101873
2015-12-29    0.500628
2015-12-30    0.819135
2015-12-31    0.172992
Freq: B, Length: 261, dtype: float64

## Task:2 (Question:3)
Find the sum of the values in s for every wednesday

In [4]:
# The weekday index range from (0 to 6) where '0' for  sunday ,'1' for monday... and '6' for saturday

sum_of_wednesday = s[business_day_range.weekday == 2].sum()

print("The sum of the random values for all wednesday in the DataTiemIndex range 's' is: ", sum_of_wednesday)

The sum of the random values for all wednesday in the DataTiemIndex range 's' is:  26.27175867134399

## Task:2 (Question:4)
Average for each calendar month

In [5]:
#calculating the averages for individual months in the DateTineIndex range 's' where 'M' is the freq denotion of month

avg_for_each_cal_month = s.resample('M').mean()

print("The average of random numbers from the generated series 's' is :\n", avg_for_each_cal_month)

The average of random numbers from the generated series 's' is :
 2015-01-31    0.617200
2015-02-28    0.492008
2015-03-31    0.483252
2015-04-30    0.461369
2015-05-31    0.661025
2015-06-30    0.502625
2015-07-31    0.450980
2015-08-31    0.473521
2015-09-30    0.614829
2015-10-31    0.668888
2015-11-30    0.645203
2015-12-31    0.543355
Freq: M, dtype: float64

## Task:3 (Question:5)
For each group of four consecutive calendar months in s, find the date on which the highest value occurred

In [6]:
s.groupby(pd.Grouper(freq='4M')).idxmax()

2015-01-31   2015-01-30
2015-05-31   2015-05-08
2015-09-30   2015-08-19
2016-01-31   2015-10-08
dtype: datetime64[ns]